##########
## Global
##########

# Do not commit IDE files
/.settings
/.buildpath
/.project
/nbproject
*.iml
*.ipr
*.iws
.idea/
nbactions.xml
nbproject/
.project
/atlassian-ide-plugin.xml

# Do not commit OS tmp files
*.orig
*.rej
*~
*.log
*.bak
*.swp
*.tmp
*.temp
.DS_Store
.DS_Store?
Desktop.ini
Thumbs.db
.*.sw[a-z]
*.un~
Session.vim
temp
temp/

# Do not commit Ctags
.tags
.tags_sorted_by_file

# Other versioning systems
.svn/
_svn/
*.svn*
/.hg/*
*/.hg/*
.hgignore
.subversion

##########
## Project specific
##########

vendor/
composer.lock
composer.phar
